<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhoetoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"


        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocuFast"
        tools:targetApi="31"
        >

        <activity
            android:name=".loginMenu.view.LoginMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.group.create.view.CreateGroupActivity" />
        <activity android:name=".admin.user.list.view.UserListActivity" />

        <activity
            android:name=".camera.view.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".archives.view.ArchivesActivity"
            android:exported="true" />
        <activity
            android:name=".admin.registerNewAdmin.view.RegisterAdminActivity"
            android:exported="true" />
        <activity
            android:name=".admin.group.edit.view.ListActivity"
            android:exported="true" />

        <activity
            android:name=".user.login.view.LoginUserActivity"
            android:exported="true" />
        <activity
            android:name=".admin.user.create.view.CreateUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"/>

        <activity
            android:name=".admin.user.detail.view.UserDetailActivity"
            android:exported="false" />

        <activity
            android:name=".user.mainmenu.view.MainMenuUserActivity"
            android:exported="false" />

        <activity
            android:name=".admin.mainmenu.view.MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".user.group.detail.view.GroupDetailActivity"
            android:exported="true" />


        <activity android:name=".admin.group.detail.view.GroupDetailActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />



        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>